
body
{
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 48pt;
}

.city-name {
    margin-top: 200px;
    text-align: center;
}

.temperature {
    font-family: 'Roboto', sans-serif;
    font-size: 64pt;
    text-align: center;
    font-weight: 900;
    margin-left: 40px
}

.description {
    font-family: 'Roboto', sans-serif;
    font-size: 32pt;
    text-align: center;
    text-transform: capitalize;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }

.search-term {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
.search-term:focus{
    color: #00B4CC;
  }

.search-button {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .wrap{
    width: 30%;
    position: absolute;
    top: 10%;
    left: 59%;
    transform: translate(-50%, -50%);
  }